.idea/
.vscode/

.vs/
bin/
obj/
*.csproj
*.sln

*.exe

build/
dist/

/*output
docs/REMINDER.md

mermaid/
src/mermaid
src/csharp/
src/powershell/
src/temp.py
src/open_file_in_vscode.py

__pycache__/
*.pyc
*.spec
